.steps{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;

}

.step-card{

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

border-radius:28px;

padding:40px;

backdrop-filter:blur(25px);

transition:.4s;

}

.step-card:hover{

transform:translateY(-12px);

border-color:#7C9CFF;

}

.step-icon{

width:75px;

height:75px;

border-radius:22px;

background:linear-gradient(135deg,#7C9CFF,#5CEBD0);

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

margin-bottom:25px;

}

.step-card h3{

margin-bottom:15px;

}

.step-card p{

line-height:1.8;

color:#A5ABD0;

}