.app-layout {

    min-height: 100vh;

    position: relative;

    overflow-x: hidden;

    background: var(--bg-primary);

    color: var(--text-primary);

}

.app-content {

    min-height: 100vh;

    margin-left: 300px;

    padding: 130px 30px 30px;

    transition:
        margin .3s ease,
        padding .3s ease;

}

/* -------------------------------------------------------------------------- */
/*                                  Mobile                                    */
/* -------------------------------------------------------------------------- */

@media (max-width: 900px) {

    .app-content {

        margin-left: 0;

        padding: 110px 20px 100px;

    }

}