.basic-info
{
    padding: 32px;

    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 24px;

    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(18px);

    box-shadow: 0 15px 40px rgba(0,0,0,0.28);
}

.section-heading
{
    margin-bottom: 28px;
}

.section-heading h2
{
    margin-bottom: 8px;

    color: #FFFFFF;

    font-size: 1.8rem;
    font-family: "Space Grotesk", sans-serif;
}

.section-heading p
{
    color: rgba(255,255,255,0.65);

    line-height: 1.7;
}

.basic-info-grid
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 22px;
}

.input-group
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group label
{
    color: rgba(255,255,255,0.82);

    font-size: .95rem;
    font-weight: 500;
}

.input-group input,
.input-group select,
.input-group textarea
{
    width: 100%;

    padding: 16px 18px;

    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 18px;

    outline: none;

    background: rgba(255,255,255,0.05);

    color: #FFFFFF;

    font-size: .95rem;
    font-family: "Inter", sans-serif;

    transition: .3s;
}

.input-group textarea
{
    resize: vertical;

    min-height: 140px;
}

.input-group input::placeholder,
.input-group textarea::placeholder
{
    color: rgba(255,255,255,0.40);
}

.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus
{
    border-color: #7C9CFF;

    box-shadow: 0 0 0 4px rgba(124,156,255,.15);
}

.full-width
{
    grid-column: span 2;
}
.form-subheading {

    grid-column: 1 / -1;

    margin: 12px 0 6px;

    font-size: 1rem;

    font-weight: 600;

    color: #ffffff;

    opacity: 0.95;

    padding-bottom: 8px;

    border-bottom: 1px solid rgba(255,255,255,0.08);

}

@media (max-width:768px)
{
    .basic-info
    {
        padding: 24px;
    }

    .basic-info-grid
    {
        grid-template-columns: 1fr;
    }

    .full-width
    {
        grid-column: span 1;
    }
}